<!DOCTYPE html>
<html>
    <head>
        <meta character="utf-8">
        <title>Homepage</title>
        <style>

        </style>
        <link rel='stylesheet' href="/static/netflix.css">
    </head>
    <body>
        <style>
            
        </style>
        <div class="row">
            <div class="col-md-6">

            <div class="fullbody">
            <div class="box1">
                <p class="netflix">
                    NETFLIX
                </p>           
                    <button class="sign-in">Sign In</button> 
                    <button class="english">English</button> 
             
                <p class="heading">Enjoy big movies, hit series and more from  </p>
                <form class="rs"> ₹ 149.</form>
                <p class="sub-line">Join today. Cancel anytime.</p>
                <p class="ready-line">
                    Ready to watch? Enter your email to create or restart your membership.
                </p>  
                <div class="adrs">
                <button class="address"> Emailaddress </button>
                <div class="nokam-start">
                <button class="start">Get Started ></button>
                </div>
                </div>               
            </div>                          
                <div class="box2">
                    <div class="marginbox">
                        <div class="enjoy">
                            <p class="tv">Enjoy on your TV</p>
                            <p class="smart-tv">Watch on smart TVs, PlayStation, Xbox,<br> Chromecast, Apple TV, Blu-ray players and more.</p>
                        </div>
                        <div class="marginbox2">
                            <div class="shows">
                                <p class="dwnld">Download your shows to watch offline</p>
                                <p class="save">Save your favourites easily and always have something to watch.</p>
                            </div>
                        </div>
                        <div class="marinbox3">
                        </div>
                    </div>
                 </div>
                </div>  
            </div>   
        </div>  
    </body>
</html>
